<li id="item-<%= item.id %>">
  <span class="user"><%= link_to item.user.name, item.user %></span>
  <span class="price"><%= item.price %></span>
  <span class="inetrest"><%= item.interest %></span>
  <span class="duration"><%= item.duration %></span>
</li>