<h1>Stock item details</h1>
<div class="container">
  <div class="row">
    <div class="col-xs-9">
      <div class="row">
        <div class="col-md-4">
            <table width=100% border="1" align="center" cellpadding="4" cellspacing="0">
                <tr> 
                    <td>
                        <h3>Name:</h3>
                    </td>
                    <td>
                        <h3><%= @item.name %></h3>
                    </td>
                    </tr>
                    <tr> 
                    <td>
                        <h3>Price: </h3>
                    </td>
                    <td>
                        <h3><%= @item.price %></h3>
                    </td>
                </tr>    
                <tr> 
                    <td>
                        <h3>Interest: </h3>
                    </td>
                    <td>
                        <h3><%= @item.interest %></h3>
                    </td>
                </tr>    
                <tr> 
                    <td>
                        <h3>Duration: </h3>
                    </td>
                    <td>
                        <h3><%= @item.duration %></h3>
                    </td>
                </tr>
            </table>

        </div>
        <div class="col-md-8">
        <%= column_chart @item.column_data %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= link_to 'Edit stock item', edit_item_path(@item) %> |
<%= link_to 'Remove stock item', @item, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', :back %>
