<h1>Stock item details</h1>
<div class="container">
  <div class="row">
    <div class="col-xs-9">
      <div class="row">
        <div class="col-md-4">
            <table width=100% border="1">
                <tr> 
                    <td>
                        <h4>Name:</h4>
                    </td>
                    <td>
                        <h4><%= @item.name %></h4>
                    </td>
                    </tr>
                    <tr> 
                    <td>
                        <h4>Price: </h4>
                    </td>
                    <td>
                        <h4><%= @item.price %></h4>
                    </td>
                </tr>    
                <tr> 
                    <td>
                        <h4>Interest: </h4>
                    </td>
                    <td>
                        <h4><%= @item.interest %></h4>
                    </td>
                </tr>    
                <tr> 
                    <td>
                        <h4>Duration: </h4>
                    </td>
                    <td>
                        <h4><%= @item.duration %></h4>
                    </td>
                </tr>
            </table>

        </div>
        <div class="col-md-8">
            <%= column_chart @item.column_data %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= link_to 'Edit stock item', edit_item_path(@item) %> |
<%= link_to 'Remove stock item', @item, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', :back %>
